openapi: 3.0.3
info:
  title: Chronoscope API
  version: 1.1.0

servers:
  - url: https://chronoscope.ni0.team/api/v1

security:
  - oauth2:
      - read
      - write

paths:

  /accounts/{accountid}:
    get:
      summary: Get account details (including organizations)
      description: >
        Retrieves detailed information about a specific account identified by
        `accountid`, including the list of organizations the account belongs to.
        An account is owned by a single identity and may be a member of multiple
        organizations (many-to-many via account_organization).
      parameters:
        - name: accountid
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetailed'

  /identity:
    get:
      summary: Retrieve Information about the Identity inside the access token
      description: >
        Returns the identity record associated with the OAuth 2.0 access token
        provided in the request. The identity is the root entity in the domain
        model; each identity can own one or more accounts. Use this endpoint to
        determine the caller's identity ID and the accounts linked to it.
      responses:
        '200':
          description: Own Identity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'

  /identity/{identityid}/accounts:
    get:
      summary: List all accounts for an identity
      description: >
        Returns every account that belongs to the given identity. An identity
        may own multiple accounts (e.g. personal and work). Each account record
        contains its own ID and a back-reference to the owning `identity_id`.
      parameters:
        - name: identityid
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'

    post:
      summary: Request linking this account with another account via email
      description: >
        Initiates the two-step account-linking flow by sending a confirmation
        email to the address of the target account. The caller supplies the
        target account's email address (`target_email`). On success the server
        returns HTTP 202 and no body; the recipient must use the
        `POST /identity/{identityid}/accounts/confirm` endpoint to complete the
        link using the token contained in the email.
      parameters:
        - name: identityid
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountLinkRequest'
      responses:
        '202':
          description: Link request accepted and email sent

  /identity/{identityid}/accounts/confirm:
    post:
      summary: Confirm account linking using token received via email
      description: >
        Completes the account-linking flow initiated by
        `POST /identity/{identityid}/accounts`. The caller submits the
        short-lived token that was delivered by email. On success both accounts
        are permanently linked and the response includes the IDs of both the
        source and target accounts. Returns HTTP 400 if the token is invalid,
        already used, or expired.
      parameters:
        - name: identityid
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountLinkConfirmRequest'
      responses:
        '200':
          description: Accounts successfully linked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLinkResult'
        '400':
          description: Invalid or expired token

  /identity/{identityid}/scopes:
    get:
      summary: List all scopes for an identity
      description: >
        Returns every scope record associated with any task owned by the given
        identity. A scope constrains a task to a specific time window defined by
        `begin` and `end` timestamps. Scopes are linked to tasks (N-to-1) and
        are used by the planning algorithm to limit when a task may be scheduled.
      parameters:
        - name: identityid
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of scopes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scope'

  /identity/{identityid}/tasks:
    get:
      summary: List all tasks for an identity (including dependencies)
      description: >
        Returns the full list of tasks owned by any account that belongs to the
        given identity. Each task includes its tags, dependency links, and—
        depending on its type—either a `dynamic_task` object (with difficulty,
        duration, elapsed, optional start/end window) or a `static_task` object
        (with a blocker flag). Tasks may also carry an `rrule` string for
        recurrence according to the iCalendar RFC.
      parameters:
        - name: identityid
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'

  /plan:
    post:
      summary: Generate a plan for tasks within available work slots
      description: >
        Runs the planning algorithm for the account identified by `account_id`
        in the request body. The algorithm topologically sorts tasks (respecting
        predecessor dependencies), evaluates dynamic task difficulty and
        duration against available work slots (start/end per slot), and assigns
        tasks to slots. Returns the account's work slots annotated with the
        tasks scheduled in each one. Static tasks with `blocker: true` act as
        hard blockers in the schedule.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanRequest'
      responses:
        '200':
          description: Planned work slots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'

  /tasks:
    post:
      summary: Create a new task
      description: >
        Creates a new task owned by the account specified in `account_id`. The
        `type` discriminator determines whether the task is `dynamic` (requires
        `difficulty` and `duration`; optionally a scheduling window via `start`
        and `end`) or `static` (requires a `blocker` boolean). An optional
        `rrule` field (iCalendar recurrence rule) makes the task repeating.
        Tags can be supplied inline at creation time. The created task is
        returned with HTTP 201.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreateRequest'
      responses:
        '201':
          description: Task created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'

  /tasks/{id}:
    get:
      summary: Get task details (including dependencies)
      description: >
        Retrieves a single task by its numeric ID. The response includes the
        task's name, description, optional recurrence rule (`rrule`), tags, all
        predecessor dependency links, and either a `dynamic_task` or
        `static_task` sub-object depending on the task's type.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Task details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'

    put:
      summary: Update a task
      description: >
        Partially updates an existing task identified by `id`. Clients may
        supply any subset of updatable fields: `name`, `description`, `rrule`
        (recurrence rule), and dynamic-task fields (`difficulty`, `duration`,
        `elapsed`, `start`, `end`) or the static-task field (`blocker`).
        Fields omitted from the request body are left unchanged. Returns the
        full updated task on success.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateRequest'
      responses:
        '200':
          description: Updated task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'

    delete:
      summary: Delete a task
      description: >
        Permanently deletes the task identified by `id`, along with all
        associated tags, dependency links (both where it is the dependent task
        and where it is the predecessor), scopes, and the linked dynamic_task or
        static_task sub-record. Returns HTTP 204 with no body on success.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Task deleted

  /tasks/{id}/dependencies:
    post:
      summary: Create a new dependency
      description: >
        Declares that the task identified by the path parameter `id` depends on
        a predecessor task (`predecessor_task_id` in the request body). The
        dependency is directional: `predecessor_task_id` must be completed
        before the dependent task (`task_id`) can be scheduled. Both `task_id`
        and `predecessor_task_id` must already exist and belong to the same
        account. Returns the created `TaskDependency` record with HTTP 201.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskDependencyCreateRequest'
      responses:
        '201':
          description: Dependency created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDependency'

  /tasks/{id}/dependencies/{linkid}:
    delete:
      summary: Delete a dependency
      description: >
        Removes the dependency link identified by `linkid` from the task
        identified by `id`. After deletion the predecessor task is no longer
        required to complete before the dependent task can be scheduled. Returns
        HTTP 204 with no body on success.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: linkid
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Dependency deleted

components:

  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.ni0.team/realms/ni0/protocol/openid-connect/auth
          tokenUrl: https://auth.ni0.team/realms/ni0/protocol/openid-connect/token
          scopes:
            openid: Default
            profile: Profile Information

  schemas:

    Account:
      type: object
      properties:
        id:
          type: integer
        identity_id:
          type: integer
      required: [id, identity_id]

    AccountDetailed:
      allOf:
        - $ref: '#/components/schemas/Account'
        - type: object
          properties:
            organizations:
              type: array
              items:
                $ref: '#/components/schemas/Organization'

    AccountLinkConfirmRequest:
      type: object
      properties:
        token:
          type: string
          description: JWT or opaque token received via email
      required: [token]

    AccountLinkRequest:
      type: object
      properties:
        target_email:
          type: string
          format: email
      required: [target_email]

    AccountLinkResult:
      type: object
      properties:
        source_account_id:
          type: integer
        target_account_id:
          type: integer
        status:
          type: string
          enum: [linked]
      required: [source_account_id, target_account_id, status]

    DynamicTask:
      type: object
      properties:
        id:
          type: integer
        difficulty:
          type: integer
        duration:
          type: integer
        elapsed:
          type: integer
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
      required: [id]

    DynamicTaskCreateRequest:
      allOf:
        - type: object
          required:
            - difficulty
            - duration
          properties:
            difficulty:
              type: integer
            duration:
              type: integer
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time

    Identity:
      type: object
      properties:
        id:
          type: integer
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
      required: [id]

    Organization:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      required: [id, name]

    PlanRequest:
      type: object
      properties:
        account_id:
          type: integer
      required: [account_id]

    PlanResponse:
      type: array
      items:
        $ref: '#/components/schemas/WorkSlot'

    Scope:
      type: object
      properties:
        id:
          type: integer
        task_id:
          type: integer
        begin:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
      required: [id, task_id, begin, end]

    StaticTask:
      type: object
      properties:
        blocker:
          type: boolean
      required: [blocker]

    StaticTaskCreateRequest:
      allOf:
        - type: object
          required:
            - blocker
          properties:
            blocker:
              type: boolean

    Tag:
      type: object
      properties:
        id:
          type: integer
        task_id:
          type: integer
        name:
          type: string
      required: [id, task_id, name]

    TagCreate:
      type: object
      properties:
        name:
          type: string
      required:
        - name

    Task:
      type: object
      properties:
        id:
          type: integer
        account_id:
          type: integer
        name:
          type: string
        description:
          type: string
        dynamic_task:
          $ref: '#/components/schemas/DynamicTask'
        static_task:
          $ref: '#/components/schemas/StaticTask'
        rrule:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/TaskDependency'
      required: [id, account_id, name]

    TaskCreateRequest:
      type: object
      required:
        - account_id
        - name
        - type
      properties:
        account_id:
          type: integer
        name:
          type: string
        description:
          type: string
        rrule:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/TagCreate'
        type:
          type: string
          enum: [dynamic, static]

      oneOf:
        - $ref: '#/components/schemas/DynamicTaskCreateRequest'
        - $ref: '#/components/schemas/StaticTaskCreateRequest'

      discriminator:
        propertyName: type
        mapping:
          dynamic: '#/components/schemas/DynamicTaskCreateRequest'
          static: '#/components/schemas/StaticTaskCreateRequest'

    TaskDependency:
      type: object
      properties:
        id:
          type: integer
        task_id:
          type: integer
        predecessor_task_id:
          type: integer
      required: [id, task_id, predecessor_task_id]

    TaskDependencyCreateRequest:
      type: object
      properties:
        task_id:
          type: integer
        predecessor_task_id:
          type: integer
      required: [task_id, predecessor_task_id]

    TaskUpdateRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        rrule:
          type: string
        difficulty:
          type: integer
        duration:
          type: integer
        elapsed:
          type: integer
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        blocker:
          type: boolean

    WorkSlot:
      type: object
      properties:
        id:
          type: integer
        account_id:
          type: integer
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/Task'
      required: [id, account_id, start, end]
